<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{conversation.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{conversation.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/conversations/add}" th:text="#{conversation.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:replace="~{fragments/utils::searchFilter(object='conversation')}" />
            <div th:if="${conversations.empty}" th:text="#{conversation.list.empty}" />
            <div th:if="${!conversations.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{conversation.id.label}" scope="col" />
                            <th th:text="#{conversation.event.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="conversation : ${conversations}">
                            <td th:text="${conversation.id}" />
                            <td th:text="${conversation.event}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/conversations/edit/{id}(id=${conversation.id})}" th:text="#{conversation.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/conversations/delete/{id}(id=${conversation.id})}"
                                            th:hx-confirm="#{delete.confirm}" method="post" class="d-inline">
                                        <button th:text="#{conversation.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
