<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{user.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{user.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/users}" th:text="#{user.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('user')}" />
            <form th:action="${T(pub.kunesti.util.WebUtils).getRequest().requestURI}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='user', field='userName')}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='email')}" />
                <div th:replace="~{fragments/forms::inputRow(object='user', field='events', type='multiselect')}" />
                <input type="submit" th:value="#{user.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
