<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{home.index.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <h1 th:text="#{home.index.headline}" class="mb-4" />
            <p th:utext="#{home.index.text}" />
            <p th:utext="#{home.index.swagger}" class="mb-5" />
            <div class="col-md-4 mb-5">
                <h4 th:text="#{home.index.exploreEntities}" class="mb-3" />
                <div class="list-group">
                    <a th:href="@{/events}" th:text="#{event.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/users}" th:text="#{user.list.headline}" class="list-group-item list-group-item-action" />
                    <a th:href="@{/conversations}" th:text="#{conversation.list.headline}" class="list-group-item list-group-item-action" />
                </div>
            </div>
        </div>
    </body>
</html>
